@{
    ViewBag.Title = "Home Page";
}
<html>
<div class="jumbotron">
    <h1>Books Store</h1>
</div>
<head>
    <title>Books Store</title>
</head>
<body background="~/Images/library_img.jpg">
</body>
</html>

